<div class="row">

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="/airbnb_thumbnail.png" alt="...">
            <div class="caption">
                <h3><%= @editor.company_name %></h3>
                <p>
                    <a href="#" class="btn btn-primary" role="button">View</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="/tesla_thumbnail.gif" alt="...">
            <div class="caption">
                <h3>TELSA</h3>
                <p>
                    <a href="#" class="btn btn-primary" role="button">View</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="/uber_thumbnail.jpg" alt="...">
            <div class="caption">
                <h3>UBER</h3>
                <p>
                    <a href="#" class="btn btn-primary" role="button">View</a>
                </p>
            </div>
        </div>
    </div>

</div><!--end of SECOND row-->
